{% extends 'base.html' %}

{% block content %}

{% include 'prof_navbar.html' %}

<div class="container">
    <h2>Add Category For Course</h2>
    <form action="/addcategory" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.cid.label(class="form-label") }}
            {{ form.cid(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.course_name.label(class="form-label") }}
            {{ form.course_name(class="form-control") }}
        </div>    
        <div class="mb-3">
            {{ form.category_name.label(class="form-label") }}
            {{ form.category_name(class="form-control") }}
        </div>    
        <div class="mb-3">
            {{ form.category_description.label(class="form-label") }}
            {{ form.category_description(class="form-control") }}
        </div>   
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>


{% endblock %}