{% extends 'base.html' %}

{% block content %}

{% if is_student %}
    <h1>Student Dashboard</h1>
    <div class="container">
    <h2>Upload Note for Course</h2>
    <h3>Select Course</h3>
    <form action="/dashboard" method="POST">
        {{ course_form.hidden_tag() }}
        <div class="mb-3">
            {{ course_form.course_name.label(class="form-label") }}
            {{ course_form.course_name(class="form-control") }}
        </div>            
        <br/>
        {{ course_form.submit(class="btn btn-primary") }}
    </form>
    </div>
{% endif %}
{% if is_professor %}
    {% if error %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endif %}
    <h1>Professor Dashboard</h1>
    <div class="container">
        <h2>Add Course</h2>
        <form action="/dashboard" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.cid.label(class="form-label") }}
                {{ form.cid(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.course_name.label(class="form-label") }}
                {{ form.course_name(class="form-control") }}
            </div>    
            <div class="mb-3">
                {{ form.semester.label(class="form-label") }}
                {{ form.semester(class="form-control") }}
            </div>    
            <div class="mb-3">
                {{ form.year.label(class="form-label") }}
                {{ form.year(class="form-control") }}
            </div>   
            <br/>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <div class="container">
        <h2>Add Category For Course</h2>
        <form action="/dashboard" method="POST">
            {{ category_form.hidden_tag() }}
            <div class="mb-3">
                {{ category_form.cid.label(class="form-label") }}
                {{ category_form.cid(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ category_form.course_name.label(class="form-label") }}
                {{ category_form.course_name(class="form-control") }}
            </div>    
            <div class="mb-3">
                {{ category_form.category_name.label(class="form-label") }}
                {{ category_form.category_name(class="form-control") }}
            </div>    
            <div class="mb-3">
                {{ category_form.category_description.label(class="form-label") }}
                {{ category_form.category_description(class="form-control") }}
            </div>   
            <br/>
            {{ category_form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <div class="container">
        <a class="btn btn-primary btn-lg" href="{{url_for('logout')}}" class="button">Logout</a>
    </div>

{% endif %}
{% endblock %}