{% extends 'base.html' %}

{% block content %}

    <div class="container px-4 px-lg-5 text-center">
        <h1>Project Name</h1>
        <h2>A note sharing app</h2>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-primary btn-lg" href="{{url_for('login')}}" class="button">Login</a><br>
            <a class="btn btn-primary btn-lg" href="{{url_for('signup')}}" class="button">Sign up</a>
        </div>
    </div>


{% endblock %}