{% extends 'base.html' %}

{% block content %}

{% include 'prof_navbar.html' %}

<div class="container">
    <div>
        <h3>My Courses</h3>
        {% if courses %}
            <div class="col">
                <div class="row">
                    <div class="col">CID</div>
                    <div class="col">Name</div>
                    <div class="col">Class Size</div>
                    <div class="col">Semester</div>
                    <div class="col">Year</div>
                </div>
                {% for course in courses %}
                <div class="row">
                    {% for col in course %}
                    <div class = "col">{{ col }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}
