{% extends 'base.html' %}

{% block content %}

{% include 'stu_navbar.html' %}

<div class="container">
    <h2>Upload Note</h2>
    <form action="/uploadnote" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.course_name.label(class="form-label") }}
            {{ form.course_name(**{"class": "form-control", "hx-get":"/get_categories", "hx-target":"#categories"}) }}
        </div>
        <div class="mb-3">
            {{ form.file_link.label(class="form-label") }}
            {{ form.file_link(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.category_name.label(class="form-label") }}
            {{ form.category_name(class="form-control", id = "categories") }}
        </div>                   
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>


{% endblock %}
